<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>DBATU Online Portal | {{current_user.dept}} HomePage</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  
	  <div class="container">
	    
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">DBATU Online Portal</a>
	    </div>	  
	  </div>
	
	</nav>

	<div class="container text-center">
	    <nav class="navbar">
	    	<div class="container">
	    		<div class="navbar-header">
	    			<ul class="nav navbar-nav">
			          <li><a href="/Computer">Department News</a></li>
			          <li><a href="/Computer/first_year">1st Year</a></li>
			          <li><a href="/Computer/second_year">2nd Year</a></li>
			          <li><a href="/Computer/third_year">3rd Year</a></li>
			          <li><a href="/Computer/final_year">4th Year</a></li>
			          <li><a href="/university_news">University News</a></li>
	      			</ul>
	    		</div>
	    	</div>
	    </nav>     		
	</div>

	

	<div class="container">	
		<h1 class="text-center">{{ current_user.name }} <a href="/logout"><button class="btn btn-primary">Logout!</button></a></h1>


		<div class="container">
		<h3>
			News
			<a class="pull-right" href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-primary">Create New Post</button></a>
		</h3>
		<hr />
			{% for item in news%}
				<p> {{item.news}} </p>
				<p> Posted by: {{item.posted_by}} on {{item.id}} </p>
				<hr />
			{% endfor %}
		</div>
	</div>


      <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Post</h4>
              </div>
              <div class="modal-body text-left">
                  
                  <form action="/new_post" method="post">
                    <div class="form-group">
                      <label for="name">News Details</label>
                      <textarea class="form-control" name="newsdetail" id="newsdetail" placeholder="News Details"></textarea>
                    </div>  
                      
                    <div class="form-group">
                      <label for="memory">News for?</label>
                      <select class="form-control" name="news_for" id="news_for">
						  <option value="first_year">First Year</option>
						  <option value="second_year">Second Year</option>
						  <option value="third_year">Third Year</option>
						  <option value="final_year">Final Year</option>
						  <option value="department">Department</option>
					  </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>