<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>DBATU Online Portal | {{news[0].dept}} HomePage</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  
	  <div class="container">
	    
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">DBATU Online Portal</a>
	    </div>	  
	  </div>
	
	</nav>

	<div class="container text-center">
	    <nav class="navbar">
	    	<div class="container">
	    		<div class="navbar-header">
	    			<ul class="nav navbar-nav">
			          <li><a href="/IT">Department News</a></li>
			          <li><a href="/IT/first_year">1st Year</a></li>
			          <li><a href="/IT/second_year">2nd Year</a></li>
			          <li><a href="/IT/third_year">3rd Year</a></li>
			          <li><a href="/IT/final_year">4th Year</a></li>
			          <li><a href="/university_news">University News</a></li>
	      			</ul>
	    		</div>
	    	</div>
	    </nav>     		
	</div>

	

	<div class="container">	
		<h1 class="text-center"> {{ student_name }} <a href="/logout"><button class="btn btn-primary">Logout!</button></a></h1>


		<div class="container">
		<h3>News for all {{ news[0].news_for }} students</h3><hr />
			{% for item in news%}
				<p> {{item.news}} </p>
				<p> Posted by: {{item.posted_by}} on {{item.id}} </p>
				<hr />
			{% endfor %}
		</div>
	</div>

</body>

</html>